*{
    box-sizing: border-box; 
}
.App {
  width: 100%;
  height: 100%;
    .content{
      width: 100%;
      height: 100%;
        background-image: url("http://oleoespecias.com/images/slider/oleoespecias-slide11.jpg");
        background-attachment: fixed;
        background-position: center;
        .carrucel{
          padding: 0px 100px;
          .ant-carousel .slick-slide {
            text-align: center;
            height: 300px;
            line-height: 200px;
            background: #364d79;
            .carru-cards{
              display: flex;
              align-content: center;
              .img{
                display: flex;
              align-content: center;
                .shef{
                  height: 220px;
                }
              }
            }
          }
          
          .ant-carousel .slick-slide h3 {
            color: #fff;
          }
        }
      }
    }


  .cards{
      padding: 15px;
      background: white;
      margin: auto;
      flex-wrap: wrap;
    .card1{
        border-radius: 15px ;
        width: 80% ;
        height: 40% ;
        background-color: rgba(255,255,255,.85);
        text-align: center;
        display: flex;
        .title{
            color: chocolate;
            font-size: 30px ;
            font-family: Ralewa;
        }
        .tex{
            font-size: 20px ;
            font-family: Raleway;
        }
        .Button{
            border-radius: 5px ;
            height: 80px ;
            width: 150px ;
            background-color: #fdcc3a ;
            color: chocolate ;
            font-size: 20px ;
            font-family:Arial, Helvetica, sans-serif;
        }
      }
      .card2{
        border-radius: 5px;
        height: 40%;
        width: 40%;
        display: block;
        .shef{
            display: flex;
            width: 100%;
            left: 100%;
          }
      }
  }
  
  
  
  
  
  .footer{
    background-color: rgba(47,23,15,.9);
  }
  
  