@font-face {
    font-family: "Nunito extrabold";
    src: url("./../../Assets/fonts/Nunito-Black.woff") format("woff"),
      url("./../../Assets/fonts/Nunito-Black.ttf") format("truetype"),
      url("./../../Assets/fonts/Nunito-Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Nunito bold";
    src: url("./../../Assets/fonts/Nunito-Bold.woff") format("woff"),
      url("./../../Assets/fonts/Nunito-Bold.ttf") format("truetype"),
      url("./../../Assets/fonts/Nunito-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Nunito semibold";
    src: url("./../../Assets/fonts/Nunito-SemiBold.woff") format("woff"),
      url("./../../Assets/fonts/Nunito-SemiBold.ttf") format("truetype"),
      url("./../../Assets/fonts/Nunito-SemiBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Nunito regular";
    src: url("./../../Assets/fonts/Nunito-Regular.woff") format("woff"),
      url("./../../Assets/fonts/Nunito-Regular.ttf") format("truetype"),
      url("./../../Assets/fonts/Nunito-Regular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Sugo Pro Classic";
    src: url("./../../Assets/fonts/Zetafonts.woff") format("woff"), url("./../../Assets/fonts/Zetafonts.ttf") format("truetype"),
      url("./../../Assets/fonts/Zetafonts.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
   }
   @font-face {
    font-family: "MADE Waffle Soft bold";
    src: url("./../../Assets/fonts/MADE.woff") format("woff"), url("./../../Assets/fonts/MADE.ttf") format("truetype"),
      url("./../../Assets/fonts/MADE.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Helvetica Neue bold";
    src: url("./../../Assets/fonts/HelveticaNeueLTPro-Bd.woff") format("woff"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Bd.ttf") format("truetype"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Bd.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Helvetica Neue normal";
    src: url("./../../Assets/fonts/HelveticaNeueLTPro-Md.ttf") format("truetype"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Md.woff") format("woff"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: "Helvetica Neue regular";
    src: url("./../../Assets/fonts/HelveticaNeueLTPro-Roman.ttf") format("truetype"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Roman.woff") format("woff"),
      url("./../../Assets/fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
    font-weight: regular;
    font-style: normal;
   }