@import "react-alice-carousel/lib/scss/alice-carousel.scss";
$smartphone: 500px;
$tablet: 1023px;
$desktop: 1024px;

*{
    box-sizing: border-box; 
}
.ant-card-body {
  padding: 0px; 
    zoom: 1; 
}
  
.App {
  width: 100%;
  height: 100%;
    .content{
      width: 100%;
      height: 100%;
        background-image: url("http://oleoespecias.com/images/slider/oleoespecias-slide11.jpg");
        background-attachment: fixed;
        background-position: center;
    }
}
    


.card-home{
      height: 60%;
      background: inherit;
      display: flex;
      flex-wrap: wrap;
      .card-img{
          width: 45%; 
          height: 140px ;
          margin: 2%;
          background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-food-spicy-and-seductive-lobster-shellfish-chinese-meal-background-image_6705.jpg'); 
          background-position: center;
          border-radius: 10px ;
          background-size: 100%;
        .card1{
          border-radius: 10px ;
          border-color: transparent;
          width: 100%;  
          height: 140px ;
          background-color: rgba(223, 171, 123, 0.1);
          text-align: center;
          padding: 0;
          .title{ 
              color: #ffe292;
              font-size: 30px ;
              font-family: Ralewa;
          }
          .tex{
              color: #e2dcc2;
              font-size: 130% ;
              font-family: Raleway;
          }
          .Button{
              margin-top: 2px;
              border-radius: 5px ;
              height: 50px ;
              width: 120px ;
              background-color: #fdcc3a ;
              color: chocolate ;
              font-size: 20px ;
              font-family:Arial, Helvetica, sans-serif;
          } 
        }
      }
      .card-img:hover{
        transition: all .3s;
        background-size: 120%;
      }
}
  
@media(max-width: $smartphone){
  .card-home{
    height: 90%; 
    display: inherit;
    width: 200%;
    .card-img{
        background-size: 120%;
        height: 100px ;
        .card1{
          height: 100px ;
          .title{ 
            font-size: 100% ; 
        }.tex{
          font-size: 100% ;
      }
          .Button{
            margin-top: 0px;
            height: 30px ;
            font-size: 15px ;
          } 
        }
        
    }
    .card-img:hover{
      transition: all .3s;
      background-size: 140%;
    }
}
}
@media(min-width: $smartphone) and (max-width: $tablet){
  .card-home{
    .card-img{
        background-size: 120%;
    }
    .card-img:hover{
      transition: all .3s;
      background-size: 140%;
    }
}
}
@media(min-width: $desktop){
    
}  
  
  
.carousel-movie {
  position: relative;
  height: 300px;
  .item-carousel {
    background-repeat: no-repeat;
    height: 00px;
    background-size: cover;
    color: rgb(136, 128, 128);
    position: relative;
    transition: all .3s;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 100%);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 100%);
      transition: all .3s;
      -webkit-transition: all .3s;
    }
    &:hover {
      .movie-poster {
        img {
          opacity: .5;
          transform: scale(1.3);
          transition: all .3s;
        }
      }
    }
  }
  .btn-angle {
    display: none;
    position: absolute;
    justify-content: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    transition: all .3s;
    outline: 0 !important;
    &--right {
      right: 10px;
    }
    &--left {
      left: 10px;
    }
    &:hover {
      /* box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1); */
      font-size: 56px;
      &:before {
        content: '';
        background: #000;
        opacity: .5;
      }
    }
  }
  &:hover {
    .btn-angle {
      display: flex;
      transition: all .3s;
    }
  }
}

.movie-details {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  z-index: 2;
  color: #fff;
  padding: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-timing-function: ease-in-out;
  timing-function: ease-in-out;
  font-weight: 400;
  h2 {
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
  span {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
}

.movie-poster {
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all .3s;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
  }
}